{% extends 'catalog/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid rounded" alt="{{ product.name }}">
        {% endif %}
    </div>
    <div class="col-md-6">
        <h1>{{ product.name }}</h1>
        <p class="lead">Цена: {{ product.price }} руб.</p>
        <p>Категория: {{ product.category }}</p>
        <p>Дата создания: {{ product.created_at|date:"d.m.Y H:i" }}</p>
        
        <h4>Описание:</h4>
        <p>{{ product.description }}</p>
        
        {% if user.is_authenticated %}
            <div class="mt-4">
                {% if user == product.owner or user.has_perm('catalog.can_manage_products') %}
                    <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-warning">Редактировать</a>
                    <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
                {% endif %}
                <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary">Назад к списку</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}